<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.16/js/uikit-icons.min.js"></script>
    <!-- UIkit Icons -->
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Local Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Code Mason</title>
</head>

<body>
  <div class="flex-container navbar">
    
    <div class="title">
      <img src="/assets/img/craiglogo.svg" alt="brand-logo" height="300" width="300">  
    </div>
    
    <div class="nav-search">
        <div uk-form-custom="target: true">
          <input class="uk-input uk-form-width-medium" id="nav-search-input" type="text" placeholder="Search Code Mason">
          <button class="uk-button navbar-button uk-button-default" id="nav-search-submit">Submit</button>
        </div>
    </div>  
    
    <div class="login">
      <button class="uk-button navbar-button uk-button-default uk-margin-small-right" id="login-btn" type="button" uk-toggle="target: #login-modal">Login</button>
    </div>
  
</div>
  <div class="flex-container main-content">
    <div class="side-menu-container">
    <div class="side-menu">
      <div class="user-snippet-search">
        <!-- Dynamic jQuery Content -->
      </div>

      <div class="top-snippets">
        <!-- Dynamic jQuery Content -->
      </div>

      <div class="liked-snippets">
        <!-- Dynamic jQuery Content -->
      </div>

      <div class="language-sort">
        <!-- Dynamic jQuery Content -->
      </div>
      
      <div class="tag-sort">  
         <!-- Dynamic jQuery Content -->
      </div>
    </div>
  </div>  
    <div class="snippets-container">
      <!-- <h4>Popular Snippets</h4> -->

    
    </div>
    
    <!-- create account modal -->
    <!-- <div id="create-account-modal" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Create Account</h2>
        <form class="uk-form-stacked">
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Username</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="">
            </div>
          </div>          
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Password</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">E-mail</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="">
            </div>
          </div>
          <div class="uk-margin">
            <button class="uk-button uk-button-default" id="create-account-submit">Submit</button>  
          </div>       
        </form>
      </div>
    </div> -->

    <!-- login modal -->
    <!-- <div id="login-modal" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Login</h2>
        <form class="uk-form-stacked">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Username</label>
            <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Username">
            </div>
        </div>          
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Password</label>
            <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Password">
            </div>
        </div>
        <div class="uk-margin">
            <button class="uk-button uk-button-default" id="create-account-submit">Submit</button>  
        </div>       
        </form>
      </div>
    </div> -->

    <!-- add snippet modal -->
    <div id="add-snippet-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">  
          <h2 class="uk-modal-title">Add Snippet</h2>
          
          <form class="uk-form-stacked">
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Snippet Title</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text new-snippet-name" type="text" placeholder="">
              </div>
            </div>          
            
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Snippet Description</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text new-snippet-descrip" type="text" placeholder="">
              </div>
            </div>
            
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Snippet Code</label>
              <div class="uk-form-controls">
                <textarea class="uk-textarea" id="new-snippet-code" rows="5" placeholder=""></textarea>
              </div>
            </div>
            
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Snippet Tags (seperate by commas)</label>
              <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text new-snippet-tags" type="text" placeholder="">
              </div>
            </div>
  
            <div class="uk-margin">
              <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" name="radio2"> Public</label>
                <label><input class="uk-radio" type="radio" name="radio2"> Private</label>
              </div>
            </div>
  
            <div class="uk-margin">
              <label class="uk-form-label" for="form-stacked-text">Language / Framework</label>  
              <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" name="radio2"> HTML</label>
                <label><input class="uk-radio" type="radio" name="radio2"> CSS</label>
                <label><input class="uk-radio" type="radio" name="radio2"> Javascript</label>
                <label><input class="uk-radio" type="radio" name="radio2"> jQuery</label>
                <label><input class="uk-radio" type="radio" name="radio2"> Python</label>
                <label><input class="uk-radio" type="radio" name="radio2"> PHP</label>
              </div>
            </div>
  
            <div class="uk-margin">
              <button class="uk-button uk-button-default" id="snippet-submit">Submit</button>  
            </div>       
          </form>
        </div>
      </div>
  

  </div>

  <script src = "/assets/js/code-mason.js"></script>
</body>
</html>